* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.ta-ct {
  text-align: center;
}

.dis-ib {
  display: inline-block;
}

.cur-pt {
  cursor: pointer;
}
